.dialog {
    width: 100%;
    position: relative;
}

.me {
    width: 25%;
    position: relative;

    transition: all 0.5s ease-in-out;
    animation: meAni 0.5s infinite;
}

@keyframes meAni {
    0% {
        top: 0;
    }

    50% {
        top: 5px;
    }

    100% {
        top: 0;
    }
}

.okButton {
    color: #fff;
    background-color: #000 !important;
    padding: 3px !important;
    position: absolute;
    font-family: "Lo-Res12Bold";
    font-size: 1.5em;
    width: 3em;
    left: 50%;
    top: 37%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-decoration: none;
}

.okButton:hover {
    color: #fff;
    background-color: #0e00ff !important;
}

#svgName:hover {
    fill: #fff !important;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    .dialog {
        width: 100%;
    }

    .me {
        width: 30%;
    }
}

/* Tabled Portrait */
@media screen and (max-width: 700px) {
    .popup-content {
        margin-right: 0 !important;
        margin-left: 0 !important;
        padding: 0 !important;
    }

    .dialog {
        width: 200%;
    }

    .me {
        width: 40%;
    }

    .okButton {
        left: 100% !important;
        top: 40%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}