.wrapper {
    width: 80% !important;
    left: 5% !important;
}

.mail {
    width: 100%;
    position: relative;
}

.paperplane {
    width: 25%;
    transform: rotate(-10deg);
    position: absolute;
    top: 85%;
    left: 100%;
    animation: planeAni 1s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes planeAni {
    0% {
        left: 100%;
    }

    50% {
        left: 98%;
    }

    100% {
        left: 100%;
    }
}

.sendButton {
    color: #fff;
    background-color: #000 !important;
    padding: 3px !important;
    position: absolute;
    font-family: "Lo-Res12Bold";
    font-size: 1.5em;
    width: 3em;
    left: 50%;
    top: 78%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-decoration: none;
}

.sendButton:hover {
    color: #fff;
    background-color: #0e00ff !important;
}

#svgEmail:hover {
    fill: #fff !important;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    .wrapper {
        width: 100% !important;
        left: 0% !important;
    }

    .mail {
        width: 100%;
    }

    .paperplane {
        width: 30%;
    }
}

/* Tabled Portrait */
@media screen and (max-width: 700px) {
    .wrapper {
        width: 100% !important;
        left: 0% !important;
    }

    .popup-content {
        margin-right: 0 !important;
        margin-left: 0 !important;
        padding: 0 !important;
    }

    .mail {
        width: 200%;
    }

    .paperplane {
        width: 30%;
        margin-left: 50%;
    }

    .sendButton {
        left: 100% !important;
        top: 80%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}