.iconStyle {
    width: 2.24em;
    height: auto;
    padding: 10px;
}

.footerDesc {
    width: 100%;
    position: relative;
}

.footerDescImage {
    width: 10em;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footerDesc a:hover #footerIcon {
    stroke: #0e00ff;
}

.iconStyle {
    stroke: #000000;
}

#icon0 a:hover {
    stroke: #F1502F;
}

#icon1 a:hover {
    stroke: #0e00ff;
}

#icon2 a:hover {
    stroke: #cc3333;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #icon0 {
        width: 3.2em;
    }

    #icon1 {
        width: 3.2em;
    }

    #icon2 {
        width: 3.2em;
    }
}

/* Tabled Portrait */
@media screen and (max-width: 700px) {
    #icon0 {
        width: 3.2em;
    }

    #icon1 {
        width: 3.2em;
    }

    #icon2 {
        width: 3.2em;
    }
}