.popup-content {
  background: rgba(0, 0, 0, 0) !important;
  border: 0 !important;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.8) !important;
}

.wrapper {
  width: 100%;
  position: relative;
}