.wrapper {
    width: 80% !important;
    left: 5% !important;
}

.book {
    width: 100%;
    position: relative;
}

.pen {
    width: 13%;
    position: absolute;
    top: 65%;
    left: -15%;
    animation: penAni 0.8s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes penAni {
    0% {
        top: 65%;
    }

    50% {
        top: 67%;
    }

    100% {
        top: 65%;
    }
}

.projectButton {
    color: #fff;
    background-color: #000 !important;
    padding: 3px !important;
    position: absolute;
    font-family: "Lo-Res12Bold";
    font-size: 1.5em;
    width: 3em;
    left: 85%;
    top: 68%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-decoration: none;
}

.projectButton:hover {
    color: #fff;
    background-color: #0e00ff !important;
}

#EP path {
    opacity: 0.3;
    transition: all 0.2s;
    overflow: visible !important;
}

#EP:hover path {
    opacity: 1;
    transform: scale(1.1) translateX(-0.1em) !important;
}


/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    .wrapper {
        width: 100% !important;
        left: 0% !important;
    }

    .book {
        width: 100%;
    }

    .pen {
        width: 30%;
    }
}

/* Tabled Portrait */
@media screen and (max-width: 700px) {
    .wrapper {
        width: 100% !important;
        left: 0% !important;
    }

    .popup-content {
        margin-right: 0 !important;
        margin-left: 0 !important;
        padding: 0 !important;
    }

    .book {
        width: 200%;
    }

    .pen {
        margin-left: 15%;
        width: 30%;
    }

    .projectButton {
        left: 100% !important;
        top: 75%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}