.topbarWrapper {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.moon {
    width: 2.2em;
    position: absolute;
    top: 2.5em;
    right: 0;
    margin: 10px;
}

.sun {
    width: 2.2em;
    position: absolute;
    top: 2.5em;
    right: 0;
    margin: 10px;
}

.advertise {
    color: #fff;
    font-family: "Lo-Res12Bold";
    font-size: 1.2em;
    width: 250%;
    text-indent: 1em;
    padding: 5px 0;
    white-space: nowrap;
}

.light {
    color: #000 !important;
}

/* Tablet Landscape */
@media screen and (max-width: 1200px) {
    .advertise {
        display: none;
    }

    .moon {
        top: 0;
    }

    .sun {
        top: 0;
    }

}

/* Tabled Portrait */
@media screen and (max-width: 700px) {
    .advertise {
        display: none;
    }

    .moon {
        top: 0;
    }

    .sun {
        top: 0;
    }
}