.App {
  text-align: center;
}

button {
  background: none !important;
  border: none;
  padding: 0 !important;
  text-decoration: underline;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

a .zoom {
  transition: transform 0.2s;
}

a:hover .zoom {
  transform: scale(1.05) !important;
}

a .zoomspec {
  transition: transform 0.2s;
}

a:hover .zoomspec {
  transform: scale(1.05) translateY(-1.6em) !important;
}

button .zoom {
  transition: transform 0.2s;
}

button:hover .zoom {
  transform: scale(1.05) !important;
}

html {
  background-color: #fff;
  transition: background-color 0.5s ease-out;
}

.dark {
  background-color: #111;
}

svg {
  transition: stroke 0.5s ease-in;
}

.darkSvg {
  stroke: #fff;
}

.darkSvg:hover {
  stroke: #3390ff;
}