body {
  margin: 0;
  width: 100%;
}

@font-face {
  font-family: 'Lo-Res12Regular';
  src: local('Lo-Res12Regular'), url(./fonts/Lo-Res12Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lo-Res12Bold';
  src: local('Lo-Res12BoldAlt'), url(./fonts/Lo-Res12BoldAlt.ttf) format('truetype');
}